In [1]:
import sqlite3

# Conexão
conn = sqlite3.connect('academia.db')
cursor = conn.cursor()

# Limpa tabelas
cursor.execute('DROP TABLE IF EXISTS clientes')
cursor.execute('DROP TABLE IF EXISTS treinos')
cursor.execute('DROP TABLE IF EXISTS mensalidades')

# Cria tabelas com melhorias
cursor.execute('''
CREATE TABLE clientes (
    id_cliente INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT NOT NULL,
    email TEXT UNIQUE NOT NULL
);
''')

cursor.execute('''
CREATE TABLE treinos (
    id_treino INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT NOT NULL,
    duracao INTEGER CHECK (duracao > 0),
    tipo TEXT NOT NULL
);
''')

cursor.execute('''
CREATE TABLE mensalidades (
    id_mensalidade INTEGER PRIMARY KEY AUTOINCREMENT,
    id_cliente INTEGER NOT NULL,
    valor REAL NOT NULL,
    data_pagamento TEXT NOT NULL,
    FOREIGN KEY (id_cliente) REFERENCES clientes(id_cliente)
);
''')

print("Tabelas criadas com sucesso!")

# Insere dados
cursor.execute("INSERT INTO clientes (nome, email) VALUES ('João Silva', 'joao@email.com')")
cursor.execute("INSERT INTO clientes (nome, email) VALUES ('Maria Souza', 'maria@email.com')")

cursor.execute("INSERT INTO treinos (nome, duracao, tipo) VALUES ('Musculação', 60, 'Musculação')")
cursor.execute("INSERT INTO treinos (nome, duracao, tipo) VALUES ('Yoga', 50, 'Yoga')")

cursor.execute("INSERT INTO mensalidades (id_cliente, valor, data_pagamento) VALUES (1, 100.0, '2025-05-01')")
cursor.execute("INSERT INTO mensalidades (id_cliente, valor, data_pagamento) VALUES (2, 120.0, '2025-05-02')")

conn.commit()
print("Dados inseridos com sucesso!")

# Consultas
print("\nTotal pago por cliente:")
cursor.execute('''
SELECT clientes.nome, SUM(mensalidades.valor) AS total_pago
FROM clientes
JOIN mensalidades ON clientes.id_cliente = mensalidades.id_cliente
GROUP BY clientes.id_cliente;
''')
for row in cursor.fetchall():
    print(row)

print("\nClientes com mensalidades acima de R$100:")
cursor.execute('''
SELECT clientes.nome, mensalidades.valor
FROM clientes
JOIN mensalidades ON clientes.id_cliente = mensalidades.id_cliente
WHERE mensalidades.valor > 100;
''')
for row in cursor.fetchall():
    print(row)

print("\nTodas as mensalidades registradas:")
cursor.execute('''
SELECT clientes.nome, mensalidades.valor
FROM clientes
JOIN mensalidades ON clientes.id_cliente = mensalidades.id_cliente;
''')
for row in cursor.fetchall():
    print(row)

# Encerra
conn.close()
print("\nConexão encerrada.")

Tabelas criadas com sucesso!
Dados inseridos com sucesso!

Total pago por cliente:
('João Silva', 100.0)
('Maria Souza', 120.0)

Clientes com mensalidades acima de R$100:
('Maria Souza', 120.0)

Todas as mensalidades registradas:
('João Silva', 100.0)
('Maria Souza', 120.0)

Conexão encerrada.